*{
  font-family: roboto;
  box-sizing: border-box;

  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;

  list-style: none;

  border: none;
  outline: none;

  padding: 0;
  margin: 0;

}
a{
  color: #fff;
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 .5rem;
  gap: 1rem;
}
body{
  background-color: #214478;
}
header, footer{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: .5rem;
  justify-content: center;
  color: #fff;
  text-align: center;
}
header img{
  height: 4rem;
}
.carga{
  flex-direction: column;
  height: 100vh;
}
.carga img{
  height: 8rem;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.card{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  background: #fff;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
}
.card-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: .5rem;
}
.categoria{
  border-radius: 1rem;
  background-color: skyblue;
  padding: .3rem .8rem;
  text-transform: lowercase;
}
.nombre{
  text-wrap: wrap;
  text-align: center;
  /* text-transform: lowercase; */
}
.precio{
  color: tomato;
}
.card-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
  gap: .5rem;  
  position: relative;
}
.card-action>*{
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.wsp{
  flex: 2 2 auto;
  background-color: #128c7e;
  color: #fff;
}
.slider-container {
  display: flex;
  width: 100%;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
}
.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/5;

  scroll-snap-align: center;
}
td:nth-child(2) {
  border-right: 1px solid;
}
.content{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 99;
  border-radius: 1rem;
  color: #000;
  text-align: center;
  bottom: 110%;
}
.activado{
  background: #ffcc00;
;
}
@media (min-width:500px) {
  html{
    font-size: 21px;
  }
  .card{
    flex-basis: calc(100%/4);
  }
  main{
    margin: 0 5rem;
  }
}
/* un comentario */