*{
  font-family: roboto;
  box-sizing: border-box;

  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;

  padding: 0;
  margin: 0;
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 .5rem;
  gap: 1rem;
  background-color: #ffffff;
}
header{
  display: flex;
  width: 100%;
  padding: .5rem;
  justify-content: center;
}
.card{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  background: #fff;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
}
.card-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: .5rem;
}
.categoria{
  border-radius: 1rem;
  background: rgb(179, 179, 179);
  padding: .3rem .8rem;
  text-transform: lowercase;
}
.nombre{
  text-wrap: wrap;
  text-align: center;
  text-transform: lowercase;
}
.precio{
  color: tomato;
}
.card-action{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #128c7e;
  color: #fff;
  gap: .5rem;  
}
.card-action>*{
  padding: .5rem 0;
  display: flex;
  justify-content: center;
}
.wsp{
  flex: 2 2 auto;
  color: #fff;
  gap: .5rem;
}
.share{
  flex: 1 1 auto;
  background-color: white;
  color: #000;
}
.slider-container {
  display: flex;
  width: 100%;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
}
.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: contain;

  scroll-snap-align: center;
}
@media (min-width:500px) {
  html{
    font-size: 24px;
  }
  .card{
    flex-basis: calc(100%/4);
  }
}